<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/chat.css') }}">
    <title>АзаЧат</title>
</head>
<body>
    <div id="chat-container">
        <div id="message-container"></div>
        <textarea name="" id="message-input"></textarea>
        <button id="send-btn">Отправить</button>
    </div>    

    <script src="{{ url_for('static', path='/chat.js') }}"></script>
</body>
</html> 
